.box{
   height: 80px;
}
.purple{
    background-color: purple;
}
.black{
    background-color: black;
}

.pink{
    background-color: blanchedalmond;
}
.acqua{
    background-color: aqua;
}


.white{
   background-color: white;
}